$energyYellow: #f1e05a;
$mulberry: #c6538c;
$matrix: #a86454;
$limedSpruce: #384d54;
$cinnabar: #e34c26;
$snowyMint: #dbfdde;
$blueChalk: #f4dbfd;
$foam: #dbfdfd;
$hawkesBlue: #dbe8fd;
$jaffa: #e7984b;
