- 
  var {sectionTitle , nameTitle , jobTitle , moreTitle , descriptionList , downloadButtonLabel}  = data.content.welcome
include ../header/header

.text 
  .text__info-box

    .text__info-box
      .text__title Mihai Antonia

    .text__info-box
      .text__sub-title Web Developer
  
  .text__gap-8
    .text__info-box
      .text__section-title Summary 

    .text__info-box
      .text__descriere I am working on improving the candidate's experience during the job search time.
      .text__descriere I work every day with Remix, React, NextJS, and Firebase with JavaScript and TypeScript to create amazing Apps.

  .text__gap-8
    .text__info-box
      .text__section-title Contact

    .text__info-box
      .text__descriere I am working on improving the candidate's experience during the job search time.
      .text__descriere I work every day with Remix, React, NextJS, and Firebase with JavaScript and TypeScript to create amazing Apps.

